.codePreview{
    margin: 20px 0;
  }
  .codePreview h2 {
    font-size: 20px;
    color: #000000;
    margin-bottom: 10px;
  }
  .codePreview div {
    margin: 20px 0;
  }
  .codePreview button {
    background-color:  #1890ff;
    color:#fff;
    border: 0;
    padding: 8px;
    border-radius: 8px;
    cursor: pointer;
  }